.heart-icon{
  
    width: 30px;
    height: 30px;
    background-image: url('../../icons/heart.svg');
    background-size: cover;
  }
  .comment{
    width: 30px;
    height: 30px;
    background-image: url('../../icons/message.svg');
    background-size: cover;
  }
  .flag{
    width: 50px;
    height: 50px;
    background-image: url('../../icons/flag.svg');
    background-size: cover;
     margin-top: -10px ;
    
    
  }